# This script helps setting environment variables for ./rpython/mucli/murpy.py
# so that it can locate the Mu reference implementation.
#
# USAGE:
# Copy this file to mu_env.sh (hg is configured to ignore mu_env.sh)
# Then edit the MU_PATH below.
# Before executing ./rpython/mucli/murpy.py, invoke this in the shell:
# source mu_env.sh

MU_PATH=/path/to/mu-impl-ref2     # edit me
export MU=$MU_PATH
export LD_LIBRARY_PATH=$MU_PATH/cbinding:$LD_LIBRARY_PATH
export LIBRARY_PATH=$MU_PATH/cbinding:$LIBRARY_PATH
export PYTHONPATH=$MU_PATH/pythonbinding:$MU_PATH/tools:$PYTHONPATH

# vim: tw=80
